.header .img_voltar {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .img_voltar img {
    width: 50px;
    height: 50px;
}

.header .img_voltar:hover {
    cursor:pointer;
}

.header {
    border-bottom: 2px solid #4d0d0d;
    position: static;
    height: 50px;
}

.cadastro {
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    height:95vh;
    background-color: #160000;
}

.area_cadastro {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.area_cadastro h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #f90201;
}

.campos_cadastro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    width: 90%;
    /* gap: 10px; */
}

.campos_cadastro label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    height: fit-content;
    width: 80%;
    justify-content: space-between;
}

.campos_cadastro input {
    box-sizing: border-box;
    padding-left: 5px;
    height: 35px;
    width: 80%;
    background-color: #D9D9D9;
    border: 3px solid #524f4f;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
}

/* campos_cadastro input:valid {
    outline: 1px solid #f99601;
    /* outline: 1px solid #; */


/*.campos_cadastro input:inv.alid {
    outline: 0px solid #f99601;
} */

.campos_cadastro input:focus {
    outline: 1px solid #f99601;
    transition: .3s;
    /* outline: 1px solid #; */
}

.campos_cadastro input:focus + .olho_senha #olho_revelar {
    opacity: 1;
}

.campos_invalidos {
    outline: 2px solid #f90201 !important;
}

.campos_cadastro .olho_senha {
    right: 48px;
    top: 32px;
    position: absolute;
}

#olho_revelar {
    opacity: 0.3;
}

.olho_senha:hover {
    cursor: pointer;
}

.mensagem{
    position: absolute;
    top: 110%;
    color: #f8cf17;   
    font-size: 16px;
    font-weight: bolder;
    padding: 0px 5px;
    border-radius: 5px;
    display: none;
    background-color: transparent;
}

.botao_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0px;
}


.area_cadastro button {
    width: 130px;
    height: 40px;
    color: #ffffff ;
    background-color: #f90201;
    border-color: #686464;
    border-radius: 7px;
    font-size: 18px;
    font-weight:bolder;
    margin-bottom: 5px;
}

.area_cadastro button:hover {
    cursor:pointer;
    background-color: #b30505;
}

.area_cadastro span a {
    color:#3fb1e6;
}

.area_cadastro span a:active {
    color: #075980;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }

#mensagem_validacao {
    position: absolute;
    margin-top: 3px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;   
    border-radius: 21px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 25px #000000;
    font-size: 20px;
    font-weight: bolder;
    padding:15px;
    display: none;
    background-color: #d53606e4;
}

.footer {
    margin-top: 0px;
}