

body::-webkit-scrollbar-track {
    background-color: transparent;
}

.header {
    position: static;
    border-bottom: 0px;
}

.container {
    background-image: url('../assets/background-tony.jpg');
    background-size: cover;
    height: 87vh;
    width: 100%;
}

.conteudo {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area_jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 100%;
}

.area_jogo h2, .card_jogo h2 {
    color: #000000;
    font-family: "Fjalla One", sans-serif;
    font-size: 30px;
}

.area_jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px
}

.area_jogo button {
    height: 50px;
    width: 130px;
    font-size: 20px;
    border-radius: 17px;
    border: 2px solid #000000;
    color: #f90201;
    font-weight: bold;
}

.area_jogo button:hover {
    background-color: #e7e5e5;
    color: #fd3232;
    cursor: pointer;
    font-weight: bolder;
} 

.area_jogo button:active {
    border: 3px solid #222121;
    background-color: #c5c4c4;
}

.card_jogo {
    width: 61%;
    height: 95%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #000000;
    border-radius: 7px;
    background-color: #160000;
    box-shadow: 1px 1px 10px 7px #afaeae;
}

.card_jogo h2 {
    color: #f90201 !important;
}

.card_jogo img {
    width: 20px;
    height: 20px;
}

.jogo_sup {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jogo_sup h2 {
    width: 500px;
    margin-left: 35%;
}


.jogo_sup img {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    /* margin-left: 100px; */
}

.jogo_sup img:hover {
    cursor: pointer;
}

.jogo {
    box-sizing: border-box;
    border: 1px solid #f90201;
    padding: 10px;
    height: 80%;
    width: 90%;
    box-shadow: 1px 1px 10px 2px #f90201;
    background-color: #dad8d8;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    color: #f99601;
    font-size: 22px;
    font-weight: bold;
    gap: 6px;
}

.card {
    width: 100%;
    height: 100px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 6px;
    border: 1px solid #f90201;
    transition: all 400ms ease;
}

.frente {
    background-position: center;
    background-size: cover;
    background-color: #000000;
    transform: rotateY(180deg);
}

.costas {
    background-image: url('https://sm.ign.com/ign_ap/cover/s/sopranos-m/sopranos-movie_e9w6.jpg');
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;
}

.reveal_card {
    transform: rotateY(180deg);
}

.disabled_card {
    filter: saturate(0);
}