.header .img_voltar {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .img_voltar img {
    width: 50px;
    height: 50px;
}

.header .img_voltar:hover {
    cursor:pointer;
}

.header {
    border-bottom: 2px solid #4d0d0d;
    position: static;
    height: 50px;

}

.login {
    display: flex;
    justify-content: center;
    height: 92vh;
    align-items: center;
    background-color: #160000;
}

#mensagem_validacao {
    position: absolute;
    align-self: self-start;
    height: auto;
    width: auto;
    box-sizing: border-box;
    color: #e70303;   
    background-color: #f99601;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 25px #000000;
    font-size: 20px;
    font-weight: bolder;
    padding:15px;
    display: none;
    background-color: #e2dcdc;
}

.img_login {
    display: flex;
    align-items: end;
    margin-top: auto;
    height: 80%;
}

.img_login img {
    height: 550px;
}

.area_login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 60%;
}

.area_login h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 35px;
    text-align: center;
    color: #f90201;
}

.campo_login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 90%;
}

.campo_login label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    height: 65px;
    width: 80%;
    justify-content: space-between;
}

.campo_login input {
    box-sizing: border-box;
    height: 35px;
    width: 80%;
    background-color: #D9D9D9;
    border: 3px solid #524f4f;
    border-radius: 5px;
    color: #000000;
    font-size: 17px;
    padding: 3px 3px;
}

.campo_login input:focus {
    outline: 1px solid #f99601 !important;
    /* outline: 1px solid #; */
}

.campo_login input:valid {
    outline: 1px solid #f99601;
    /* outline: 1px solid #; */
}

.campo_login input:invalid {
    outline: 0px solid #f99601;
}

.botao_login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao_login button {
    width: 130px;
    height: 40px;
    color: #ffffff ;
    background-color: #f90201;
    border-color: #686464;
    border-radius: 7px;
    font-size: 18px;
    font-weight:bolder;
    margin-bottom: 5px;
}

.botao_login button:hover {
    cursor:pointer;
    background-color: #b30505;
}

.botao_login span a {
    color: #3fb1e6;
}

.botao_login span a:active {
    color: #075980;
}

.footer {
    margin-top: 0px;
}