.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding: 15px 5px;
    gap: 20px;
}

.primeiro_container {
    margin-top: 100px;
}

.cards_conteudo {
    position: relative;
    width: 25%;
    height: 100%;    
    display: flex;
    align-items: center;
}

.flip {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d ;
    transition: .25s;
    display: flex;
    flex-direction: column;
}


.cards_conteudo:hover .flip {
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.frente, .atras {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px 0px;
    transform-style: preserve-3d;
    border-color: #ffffff;
    backface-visibility: hidden;
    gap: 10px;
}

.frente img {
    border-radius: 15px;
    width: 100%;
    height: 490px;
}

.atras {
    transform: rotateY(180deg);
    width: 100%;
}

.frente span, .atras > span {
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}

.atras span {
    color: transparent;
}

.conteudo_atras {
    box-sizing: border-box;
    padding: 0px 5px;
    border-radius:25px;
    border: 1px solid #f99601;
    font-weight: bold;
    background-color: transparent;
    margin-top: auto;
    width: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.conteudo_atras h3 {
    font-family: "Fjalla One", sans-serif;
    color: #f90201;
}

.conteudo_atras p {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.conteudo_atras p span {
    color: #f8cf17;
    font-weight: bold;
}

.conteudo_atras > span {
    color: #f8cf17;
}


hr {
    width: 50%;
    margin: 35px auto;
    border-color: #ffffff;
    border-width: 1px;
}