#mensagem_sair {
    top: 81px;
}
.container > img {
    height: 100%;
    width: auto;
}

.container {
    height: 77vh;
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.area_premiacoes {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 20px;
}


.area_premiacoes h3 {
    color:#f90201;
    font-family: "Fjalla One", sans-serif;
    font-size: 50px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    border-left: 1px solid #f99601;
    border-right: 1px solid #f99601;
    border-radius:7px;
    padding: 0px 7px;
    width: fit-content;
    /* height: 40%; */
}

.premiacoes {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.premiacoes .prem_col {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prem_total {
    width: 100%;
    color: #f8cf17;
    font-size: 26px;
    text-align: center;
    font-weight: bolder;
    font-family: "Fjalla One", sans-serif;

}

.premiacoes li {
    font-size: 25px;
    color: #f99601;
    margin-top: 6px;
}

.premiacoes > ul li {
    margin-left: 30px;
}


.premiacoes .prem_col:first-of-type li:first-of-type {
    list-style: url('../assets/emmy.png');
}

.premiacoes li span {
    color: #ffffff;
}

.premiacoes li ul li {
    list-style:  url('../assets/emmy.png');
    font-size: 20px;
    margin-left: 50px;
    color: #ffffff;
}