#mensagem_sair {
    top: 81px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;

}

.area_premiacoes {
    margin-top: 81px;  
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.area_premiacoes img {
    height: 40%;
    width: 40%;

}

.area_premiacoes h3 {
    color:#f90201;
    font-family: "Fjalla One", sans-serif;
    font-size: 50px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    border-left: 1px solid #f99601;
    border-right: 1px solid #f99601;
    border-radius:7px;
    padding: 0px 7px;
    width: fit-content;
}

.premiacoes {
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.premiacoes .prem_col {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premiacoes li {
    font-size: 25px;
    color: #f99601;
    margin-top: 6px;
}

.premiacoes > ul li {
    margin-left: 30px;
}


.premiacoes .prem_col:first-of-type li:first-of-type {
    list-style: url('../assets/emmy.png');
}

.premiacoes li span {
    color: #ffffff;
}

.premiacoes li ul li {
    list-style:  url('../assets/emmy.png');
    font-size: 20px;
    margin-left: 50px;
    color: #ffffff;
}