#mensagem_sair {
    position: fixed;
    margin: 3px auto auto;
    box-sizing: border-box;
    color: #bbbaba;   
    background-color: #f99601;
    border-radius: 30px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 25px #000000;
    font-size: 20px;
    font-weight: bolder;
    padding:15px;
    display: none;
    background-color: #e2dcdce5;
    background-color: #6f0707dd;
    z-index: 15;
    animation: aparecer 1s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.perfil {
    margin-right: 8px;
}

.perfil:hover {
    cursor: pointer;
}

.area_perfil {
    position: fixed;
    background-color: #e9e6e6;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px #8d8d8d;
    right: 45px;
    top: 45px;
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 2;
}

.area_perfil .perfil_sup {
    display: flex;
}

.area_perfil .perfil_sup span {
    color: #f90201;
    font-size: 30px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: "Fjalla One", sans-serif;
    padding: 15px 0px 0px 15px;
}

.area_perfil .perfil_sup img {
    box-sizing: border-box;
    width: 45px;
    margin: 10px 10px 0px auto;
    border-radius: 100%;
    padding: 15px;
}

.area_perfil .perfil_sup img:hover {
    cursor: pointer;
    background-color: #0a0a0a15;
}

.txt_perfil {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b6b0b0;
    padding: 15px;
}

.txt_perfil span {
    color: #000000;
    text-align: start;
    font-size: 16px;
}


.area_perfil > span {
    box-sizing: border-box;
    color: #000000;
    margin: 4px 15px 4px auto;
    height: 45px;
    display: flex;
    padding: 7px 10px;
    align-items: center;
    border-radius: 7px;
}

.area_perfil > span:hover {
    cursor: pointer;
    background-color: #0a0a0a15;
}